<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewPage</title>
</head>
<body>
    
        <form action="{% url 'entries:newpage' %}" method="post">
            {% csrf_token %}
            <div ><input style="width:100% ; margin-bottom: 5px;" type="text" name="matn" id="matn" placeholder="title"></div>
            <div><textarea style="width:100% ;" placeholder="text" name="content1" id="" cols="30" rows="10"></textarea></div>
            <!-- <input type="text" name="slug"> -->
            <input type="submit">
        </form>
    
       
</body>
</html>

